@import "tailwindcss";

@theme inline {
  /* Color Tokens */
  --color-primary: #3E5C54;
  --color-secondary: #C5D5C5;
  --color-bg-light: #F0F4F2;
  --color-bg-dark: #2A2A2A;
  
  /* Font Tokens */
  --text-h1: 65px;
  --text-h1--font-weight: 800;

  --text-h2: 25px;
  --text-h2--font-weight: 700;

  --text-h3: 35px;
  --text-h3--font-weight: 600;

  --text-h4: 25px;
  --text-h4--font-weight: 600;

  --text-body1: 30px;
  --text-body-large--font-weight: 500;

  --text-body2: 25px;
  --text-body-medium--font-weight: 500;

  --text-body3: 20px;
  --text-body-small--font-weight: 400;

}

body {
  background: var(--color-bg-light);
  color: var(--color-bg-dark);
}

html {
  scroll-behavior: smooth;
}

body.dark-chrome nav,
body.dark-chrome footer {
  background-color: #2A2A2A;
  color: #f2eee8;
}

@media (max-width: 767px) {
  :root {
    --text-h1: 36px;
    --text-h2: 20px;
    --text-h3: 24px;
    --text-h4: 20px;
    --text-body1: 20px;
    --text-body2: 18px;
    --text-body3: 16px;
  }
}
